.toast {
  position: fixed;
  bottom: 0;
}
.spinner {
  background-color: #0000002a;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.login-form {
  width: 70%;
  margin-inline: auto;
}
.login-form h1 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}